<!-- represents the HTML template for your Angular application's root component. -->
<div id="root">
  <stream-channel-list></stream-channel-list> <!--list of channels in application-->
  <stream-channel><!-- represents a signle channel-->
    <stream-channel-header>hello</stream-channel-header>
    <stream-message-list></stream-message-list>
    <stream-notification-list></stream-notification-list>
    <stream-message-input></stream-message-input><!--input fild for users to send messages-->
    <stream-thread name="thread">
      <stream-message-list mode="thread"></stream-message-list>
      <stream-message-input mode="thread"></stream-message-input>
    </stream-thread>
  </stream-channel>
</div>

<ng-template #customMessageTemplate let-message="message">
  <app-message [message]="message"></app-message>
</ng-template>

<ng-template #customChannelPreviewTemplate let-channel="channel">
  <app-channel-preview [channel]="channel"></app-channel-preview>
</ng-template>
